VITE_CMS_ENABLED=false
VITE_CMS_BASE_URL=https://blog.innotech.global
VITE_CMS_HOME_ENABLED=true
VITE_CMS_HOME_PATH=/wp-json/innotech/v1/content/home
VITE_CMS_HOME_SLUG_PREFIX=innotech-home-content
VITE_CMS_BLOG_ENABLED=true
VITE_CMS_BLOG_PER_PAGE=50
